<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>806911739298-jt1dcd8uke0l3s5aea39qkspdv2ou91v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.806911739298-jt1dcd8uke0l3s5aea39qkspdv2ou91v</string>
	<key>API_KEY</key>
	<string>AIzaSyDEQj_494hjhppweKCgqfrRWSJ12b-HuM4</string>
	<key>GCM_SENDER_ID</key>
	<string>806911739298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.oprojects.template</string>
	<key>PROJECT_ID</key>
	<string>template-ffae7</string>
	<key>STORAGE_BUCKET</key>
	<string>template-ffae7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:806911739298:ios:6ad0bfdc2249daa7989efb</string>
</dict>
</plist>